<a
  [routerLink]="routerLink"
  routerLinkActive="active"
  [routerLinkActiveOptions]="routerLinkActiveOptions"
>
  <!-- Wrapping icon and text with spans to make text truncation work -->
  <span>
    <ng-content select="[icon]"></ng-content>
  </span>

  <span class="text-container">
    <ng-content></ng-content>
  </span>
</a>


<!-- <div style="padding: 1rem">
  <h1>Sidenav</h1>

  <app-sidenav-link routerLink="/">
    <span icon>🏠</span>

    <span>Home</span>
  </app-sidenav-link>
</div> -->
